<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwiQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAADw7OwAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAPDs7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAIj8JHQPQgA+AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAADAAAAAAAAANsPyT8AAAAA
	hAAAAAAAAAAAAIA/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD0K1z4AAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAGBA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAaJwAAAAAAAAEBAQEB
	AQEBAQEBAQEBAQEBAQEAAAAAAAAAAAEBAQAAAQAAAQEBAQEBAQEBAQEBAQABAAAAAQAB
	AQEBAQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEBAAABAAAAAAABAQAAAQEBAQEA
	AQEAAQEBAQEBAQABAQEAAQEBAQEBAQEBAQEBAAEAAQEBAQEAAQEBAQEAAQEBAQEBAAAA
	AQAAAQEAAQEBAQEBAQEBAQEBAAEAAQEBAQEBAAABAAAAAAEAAQEBAQEAAAAAAAAAAQEA
	AAAAAAAAAQEBAQEAAQEAAAABAQEBAAEBAQABAQEBAQEAAAAAAAEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPad</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>K48AP</string>
		<key>1Rm/mWYEI5ttaC0dJ3sHBQ</key>
		<data>
		AAAAAAAAAAA=
		</data>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>s5l8930x</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>10.6.3</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string></string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPad</string>
		<key>D0cJ8r7U5zve6uA6QbOiLA</key>
		<string>MC497</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>A</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>black</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-1219.62.15</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		gyY5ggtdXZKmhL3BWpclw+KcwTw=
		</data>
		<key>XSLlJd/8sMyXO0qtvvUTBQ</key>
		<true/>
		<key>a6vjPkzcRjrsXmniFsm0dg</key>
		<true/>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>Semco</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>BZ</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPad1,1</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>armv7</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>11D257</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>black</string>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		AAMAAAAEAACEAAAAAACAP9sPyT8DAAAA
		</data>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>7.1.2</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPad</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string></string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>BZ/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>70705761-6E27-48C8-919F-045D824FE547</string>
	<key>CacheVersion</key>
	<string>11D257</string>
</dict>
</plist>
